
@import "tailwindcss";

:root {
  --color-primary: #af774e;
  --color-primary-light: #c3997a;
  --color-gray-100: #747f84;
  --color-gray-200: #3d4143;
  --color-dark-gray: #242424;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .container-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 768px) {
    .container-padding {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  @media (min-width: 1280px) {
    .container-padding {
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }

  .section-header {
  font-size: 1.5rem;        /* text-2xl */
}

  @media (min-width: 768px) {
    .section-header {
      font-size: 2rem;      /* text-3xl */
    }
  }

  @media (min-width: 1280px) {
    .section-header {
      font-size: 2.5rem;    /* text-4xl */
    }
  }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee p {
  display: inline-block;
  padding-left: 10%;
  animation: marquee 100s linear infinite;
  animation-delay: 2s;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
