@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme {
  --color-primary: #af774e;
  --color-primary-light: #c3997a;
  --color-gray-100: #747f84;
  --color-gray-200: #3d4143;
  --color-dark-gray: #242424;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container-padding {
  @apply px-4 md:px-12 xl:px-24;
}

.section-header {
  @apply text-2xl md:text-3xl lg:text-4xl;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee p {
  display: inline-block;
  padding-left: 10%;
  animation: marquee 100s linear infinite;
  animation-delay: 2s;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
